version: '3'
services:
  grafana:
    logging: {driver: "json-file", options: {max-size: "1m", max-file: "3"}}
    image: grafana/grafana:6.5.0-beta1
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini:ro
      - /var/lib/grafana:/var/lib/grafana

    restart: always


  prometheus:
    logging: {driver: "json-file", options: {max-size: "1m", max-file: "3"}}
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - /etc/prometheus/targets:/etc/prometheus/targets
      - /var/lib/prometheus:/prometheus
    restart: always
